<div ng-controller="homeCtrl">
   


      Home

      <div aria-role="alertdialog" aria-live="assertive" style="position: fixed; width: 300px; right: 36px; top: 36px; cursor: auto;" class="ui-pnotify dark ui-pnotify-fade-normal ui-pnotify-in ui-pnotify-fade-in ui-pnotify-move" ng-show="alert">
        <div style="min-height: 16px;" role="alert" class="alert ui-pnotify-container alert-info ui-pnotify-shadow">
            <div style="cursor: pointer; " title="Close" tabindex="0" aria-role="button" class="ui-pnotify-closer pull-right">
                <span class="glyphicon glyphicon-remove" ng-click="closeAlert()">
                </span>
            </div>
            <div aria-role="alert" class="ui-pnotify-text" dismiss-on-timeout="5000" >
<!-- <div ng-bind-html="alerts"> -->
            </div>
        </div>
    </div>
       <alert ng-model="message"></alert>
        <back-top scroll-speed=1500 button-theme="dark">
        <i class="fa fa-angle-double-up">
        </i>
        Scroll Top
    </back-top>
</div>