<div ng-controller="jsonEditorCtrl">
    <h3>
        Json editor
    </h3>
    <!-- BLOCK : CHOOSE CATEGORY -->
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Select
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control" ng-model="selected.option">
                                    <option value="travel">
                                        Travel
                                    </option>
                                    <option value="purchase">
                                        Purchase
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOCK : CHOOSE CATEGORY -->
    <!-- BLOCK : TRAVEL CATEGORY -->
    <!--
    -->
    <div class="row" ng:if="selected.option=='travel'">
        Travel
        <!-- FORM COMES HERE -->
        <div class="col-md-6">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                <label>
                    posBookingId
                </label>
                <input  class="form-control" type="number" placeholder="posBookingId " ng-model="travel.posBookingId" />
                <label>
                    posCouponValue
                </label>
                <input  class="form-control" type="number" placeholder="posCouponValue " ng-model="travel.posCouponValue" />
                <label>
                    posSellerName
                </label>
                <input  class="form-control" type="number" placeholder="posSellerName " ng-model="travel.posSellerName" />
                <label>
                    posDeliveryDate
                </label>
                <input  class="form-control" type="number" placeholder="posDeliveryDate " ng-model="travel.posDeliveryDate" />
                <label>
                    posSellerName
                </label>
                <input  class="form-control" type="number" placeholder="posSellerName " ng-model="travel.posSellerName" />
                <label>
                    posLink
                </label>
                <input  class="form-control" type="number" placeholder="posLink " ng-model="travel.posLink" />
                <label>
                    posProductName
                </label>
                <input  class="form-control" type="number" placeholder="posProductName " ng-model="travel.posProductName" />
                <label>
                    posDestination
                </label>
                <input  class="form-control" type="number" placeholder="posDestination " ng-model="travel.posDestination" />
                <label>
                    posDeliveryTime
                </label>
                <input  class="form-control" type="number" placeholder="posDeliveryTime " ng-model="travel.posDeliveryTime" />
                <label>
                    posQuantity
                </label>
                <input  class="form-control" type="number" placeholder="posQuantity " ng-model="travel.posQuantity" />
                <label>
                    posAwbNumber
                </label>
                <input  class="form-control" type="number" placeholder="posAwbNumber " ng-model="travel.posAwbNumber" />
                <label>
                    posClass
                </label>
                <input  class="form-control" type="number" placeholder="posClass " ng-model="travel.posClass" />
                <label>
                    posFlightId
                </label>
                <input  class="form-control" type="number" placeholder="posFlightId " ng-model="travel.posFlightId" />
                <label>
                    posAmount
                </label>
                <input  class="form-control" type="number" placeholder="posAmount " ng-model="travel.posAmount" />
                <label>
                    posDeliveryDetails
                </label>
                <input  class="form-control" type="number" placeholder="posDeliveryDetails " ng-model="travel.posDeliveryDetails" />
                <label>
                    posEmailID
                </label>
                <input  class="form-control" type="number" placeholder="posEmailID " ng-model="travel.posEmailID" />
                <label>
                    posSeatNo
                </label>
                <input  class="form-control" type="number" placeholder="posSeatNo " ng-model="travel.posSeatNo" />
                <label>
                    posTotalBalance
                </label>
                <input  class="form-control" type="number" placeholder="posTotalBalance " ng-model="travel.posTotalBalance" />
                <label>
                    posReferenceNumber
                </label>
                <input  class="form-control" type="number" placeholder="posReferenceNumber " ng-model="travel.posReferenceNumber" />
                <label>
                    posPNR
                </label>
                <input  class="form-control" type="number" placeholder="posPNR " ng-model="travel.posPNR" />
                <label>
                    posDate
                </label>
                <input  class="form-control" type="number" placeholder="posDate " ng-model="travel.posDate" />
                <label>
                    posShipmentId
                </label>
                <input  class="form-control" type="number" placeholder="posShipmentId " ng-model="travel.posShipmentId" />
                <label>
                    posShipmentDate
                </label>
                <input  class="form-control" type="number" placeholder="posShipmentDate " ng-model="travel.posShipmentDate" />
                <label>
                    posSurcharge
                </label>
                <input  class="form-control" type="number" placeholder="posSurcharge " ng-model="travel.posSurcharge" />
                <label>
                    posOrderId
                </label>
                <input  class="form-control" type="number" placeholder="posOrderId " ng-model="travel.posOrderId" />
                <label>
                    posDuration
                </label>
                <input class="form-control" type="number" placeholder="posDuration" ng-model="travel.posDuration"/>
                <label>
                    posCarNumber
                </label>
                <input class="form-control" type="number" placeholder="posCarNumber" ng-model="travel.posCarNumber"/>
                <label>
                    posCourierName
                </label>
                <input class="form-control" type="number" placeholder="posCourierName" ng-model="travel.posCourierName" />
                <label>
                    posExpectedDate
                </label>
                <input class="form-control" type="number" placeholder="posExpectedDate" ng-model="travel.posExpectedDate" />
                <label>
                    posPickupDate
                </label>
                <input class="form-control" type="number" placeholder="posPickupDate" ng-model="travel.posPickupDate" />
                <label>
                    posSource
                </label>
                <input class="form-control" type="number" placeholder="posSource" ng-model="travel.posSource" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                <label>
                    posProcessingDays
                </label>
                <input class="form-control" type="number" placeholder="posProcessingDays" ng-model="travel.posProcessingDays" />
                <label>
                    posArrivalTime
                </label>
                <input class="form-control" type="number" placeholder="posArrivalTime" ng-model="travel.posArrivalTime" />
                <label>
                    posTime
                </label>
                <input class="form-control" type="number" placeholder="posTime" ng-model="travel.posTime" />
                <label>
                    posStatus
                </label>
                <input class="form-control" type="number" placeholder="posStatus" ng-model="travel.posStatus" />
                <label>
                    posSRN
                </label>
                <input class="form-control" type="number" placeholder="posSRN" ng-model="travel.posSRN" />
                <label>
                    posSenderName
                </label>
                <input class="form-control" type="number" placeholder="posSenderName" ng-model="travel.posSenderName" />
                <label>
                    posCode
                </label>
                <input class="form-control" type="number" placeholder="posCode" ng-model="travel.posCode" />
                <label>
                    posEndDate
                </label>
                <input class="form-control" type="number" placeholder="posEndDate" ng-model="travel.posEndDate" />
                <label>
                    posInitiationDate
                </label>
                <input class="form-control" type="number" placeholder="posInitiationDate" ng-model="travel.posInitiationDate" />
                <label>
                    posHelpline
                </label>
                <input class="form-control" type="number" placeholder="posHelpline" ng-model="travel.posHelpline" />
                <label>
                    posTrainId
                </label>
                <input class="form-control" type="number" placeholder="posTrainId" ng-model="travel.posTrainId" />
                <label>
                    posCarrieName
                </label>
                <input class="form-control" type="number" placeholder="posCarrieName" ng-model="travel.posCarrieName" />
                <label>
                    posManageLink
                </label>
                <input class="form-control" type="number" placeholder="posManageLink" ng-model="travel.posManageLink" />
                <label>
                    posCRN
                </label>
                <input class="form-control" type="number" placeholder="posCRN" ng-model="travel.posCRN" />
                <label>
                    posLandMark
                </label>
                <input class="form-control" type="number" placeholder="posLandMark" ng-model="travel.posLandMark" />
                <label>
                    posAccountId
                </label>
                <input class="form-control" type="number" placeholder="posAccountId" ng-model="travel.posAccountId" />
                <label>
                    posOrderDate
                </label>
                <input class="form-control" type="number" placeholder="posOrderDate" ng-model="travel.posOrderDate" />
                <label>
                    posGateNo
                </label>
                <input class="form-control" type="number" placeholder="posGateNo" ng-model="travel.posGateNo" />
                <label>
                    posReturnFlightId
                </label>
                <input class="form-control" type="number" placeholder="posReturnFlightId" ng-model="travel.posReturnFlightId" />
                <label>
                    posReturnPNR
                </label>
                <input class="form-control" type="number" placeholder="posReturnPNR" ng-model="travel.posReturnPNR" />
                <label>
                    posReturnDate
                </label>
                <input class="form-control" type="number" placeholder="posReturnDate" ng-model="travel.posReturnDate" />
                <label>
                    posReturnEndDate
                </label>
                <input class="form-control" type="number" placeholder="posReturnEndDate" ng-model="travel.posReturnEndDate" />
                <label>
                    posReturnSource
                </label>
                <input class="form-control" type="number" placeholder="posReturnSource" ng-model="travel.posReturnSource" />
                <label>
                    posReturnDestination
                </label>
                <input class="form-control" type="number" placeholder="posReturnDestination" ng-model="travel.posReturnDestination" />
                <label>
                    posReturnTime
                </label>
                <input class="form-control" type="number" placeholder="posReturnTime" ng-model="travel.posReturnTime" />
                <label>
                    posReturnArrivalTime
                </label>
                <input class="form-control" type="number" placeholder="posReturnArrivalTime" ng-model="travel.posReturnArrivalTime" />
                <label>
                    posSourceTerminal
                </label>
                <input class="form-control" type="number" placeholder="posSourceTerminal" ng-model="travel.posSourceTerminal" />
                <label>
                    posDestinationTerminal
                </label>
                <input class="form-control" type="number" placeholder="posDestinationTerminal" ng-model="travel.posDestinationTerminal" />
                <label>
                    posReturnOrderReceiveDate
                </label>
                <input class="form-control" type="number" placeholder="posReturnOrderReceiveDate" ng-model="travel.posReturnOrderReceiveDate" />
                <label>
                    posReverseOrderPickupTime
                </label>
                <input  class="form-control" type="number" placeholder="posReverseOrderPickupTime " ng-model="travel.posReverseOrderPickupTime" />
                <label>
                    posDeliveryFailReason
                </label>
                <input  class="form-control" type="number" placeholder="posDeliveryFailReason " ng-model="travel.posDeliveryFailReason" />
                <label>
                    posProductDescription
                </label>
                <input class="form-control" type="number" placeholder="posProductDescription" ng-model="travel.posProductDescription" />
            </div>
            <div class="col-md-6">
                <label>
                    pattern
                </label>
                <input class="form-control" type="text" placeholder="pattern" ng-model="travel.pattern" />
                <label >
                    dateModified
                </label>
                <input  class="form-control" type="text" placeholder="dateModified " ng-model="travel.dateModified" />
                <label >
                    bookingType
                </label>
                <input  class="form-control" type="text" placeholder="bookingType " ng-model="travel.bookingType" />
                <label >
                    merchantName
                </label>
                <input  class="form-control" type="text" placeholder="merchantName " ng-model="travel.merchantName" />
                <label >
                    merchantCode
                </label>
                <input  class="form-control" type="number" placeholder="merchantCode " ng-model="travel.merchantCode" />
                <label >
                    dateFormat
                </label>
                <input  class="form-control" type="text" placeholder="dateFormat " ng-model="travel.dateFormat" />
                <label >
                    msgType
                </label>
                <input  class="form-control" type="text" placeholder="msgType " ng-model="travel.msgType" />
                <label>
                    dateCreated
                </label>
                <input class="form-control" type="text" placeholder="dateCreated" ng-model="travel.dateCreated" />
                <label>
                    accountType
                </label>
                <input class="form-control" type="text" placeholder="accountType" ng-model="travel.accountType" />
                <label>
                    address
                </label>
                <input class="form-control" type="text" placeholder="address" ng-model="travel.address" />
                <label>
                    timeFormat
                </label>
                <input class="form-control" type="text" placeholder="timeFormat" ng-model="travel.timeFormat" />
                <label>
                    msgSubType
                </label>
                <input class="form-control" type="text" placeholder="msgSubType" ng-model="travel.msgSubType" />
                <label>
                    paymentType
                </label>
                <input class="form-control" type="text" placeholder="paymentType" ng-model="travel.paymentType" />
                <label>
                    txnType
                </label>
                <input class="form-control" type="text" placeholder="txnType" ng-model="travel.txnType" />
                <label>
                    ignoreMsg
                </label>
                <input class="form-control" type="text" placeholder="ignoreMsg" ng-model="travel.ignoreMsg" />
                <label>
                    dateLastReprocessed
                </label>
                <input class="form-control" type="text" placeholder="dateLastReprocessed" ng-model="travel.dateLastReprocessed" />
                <label>
                    dateReprocessSet
                </label>
                <input class="form-control" type="text" placeholder="dateReprocessSet" ng-model="travel.dateReprocessSet" />
                <label>
                    Count
                </label>
                <input class="form-control" type="text" placeholder="Count" ng-model="travel.Count" />
                <label>
                    regexDate
                </label>
                <input class="form-control" type="text" placeholder="regexDate" ng-model="travel.regexDate" />
                <label>
                    isReturn
                </label>
                <input class="form-control" type="text" placeholder="isReturn" ng-model="travel.isReturn" />
            </div>
        </div>
        <!-- FORM COMES HERE -->
        <!-- JSON OUTPUT -->
        <div class="col-md-6">
            <textarea class="form-control" cols=10 rows=50 id="myTextArea">
                {{travel |json}}
            </textarea>
        </div>
        <!-- JSON OUTPUT -->
    </div>
    <!-- BLOCK : TRAVEL CATEGORY -->
    <!-- BLOCK : PURCHASE CATEGORY -->
    <div class="row" ng:if="selected.option=='purchase'">
        Purchase
        <!-- FORM COMES HERE -->
        <div class="col-md-6">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback"></div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback"></div>
<div class="col-md-6"></div>
        </div>
         <!-- FORM COMES HERE -->
        <!-- JSON OUTPUT -->
        <div class="col-md-6">
            <textarea class="form-control" cols=10 rows=50 id="myTextArea">
                {{purchase |json}}
            </textarea>
        </div>
        <!-- JSON OUTPUT -->
    </div>
    <!-- BLOCK : PURCHASE CATEGORY -->
</div>
