<div >
    <h3>
        Json editor
    </h3>
    <!-- BLOCK : CHOOSE CATEGORY -->
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Select
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control" ng-model="selected.option">
                                    <option value="travel">
                                        Travel
                                    </option>
                                    <option value="purchase">
                                        Purchase
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOCK : CHOOSE CATEGORY -->


     <!-- START: BLOCK TESTING  -->

     <!-- END: BLOCK TESTING  -->



     <!-- BLOCK : PURCHASE CATEGORY -->
   
    <div class="row" ng:if="selected.option=='purchase'">
        Purchase
        <!-- FORM COMES HERE -->
        <div class="col-md-6">

            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                
				<label>posProductName<label>
				<input class="form-control" type="number" placeholder="posProductName" ng-model="purchase.posProductName">

				<label>posQuantity<label>
				<input class="form-control" type="number" placeholder="posQuantity" ng-model="purchase.posQuantity">

				<label>posAmount<label>
				<input class="form-control" type="number" placeholder="posAmount" ng-model="purchase.posAmount">

				<label>posManageLink<label>
				<input class="form-control" type="number" placeholder="posManageLink" ng-model="purchase.posManageLink">

				<label>posExpectedDate<label>
				<input class="form-control" type="number" placeholder="posExpectedDate" ng-model="purchase.posExpectedDate">

				<label>posAwbNumber<label>
				<input class="form-control" type="number" placeholder="posAwbNumber" ng-model="purchase.posAwbNumber">

				<label>posDeliveryDate<label>
				<input class="form-control" type="number" placeholder="posDeliveryDate" ng-model="purchase.posDeliveryDate">

				<label>posDeliveryTime<label>
				<input class="form-control" type="number" placeholder="posDeliveryTime" ng-model="purchase.posDeliveryTime">

				<label>posShipmentId<label>
				<input class="form-control" type="number" placeholder="posShipmentId" ng-model="purchase.posShipmentId">

				<label>posOrderId<label>
				<input class="form-control" type="number" placeholder="posOrderId" ng-model="purchase.posOrderId">

				
				<label>posSellerName<label>
				<input class="form-control" type="number" placeholder="posSellerName" ng-model="purchase.posSellerName">
				<label>posReverseOrderPickupTime</label>
				<input type="number" class="form-control" placeholder="posReverseOrderPickupTime" ng-model="purchase.posReverseOrderPickupTime">

				<label>posOrderReturnReceiveDate</label>
				<input type="number" class="form-control" placeholder="posOrderReturnReceiveDate" ng-model="purchase.posOrderReturnReceiveDate">

				
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">


				<label>posSellerName<label>
				<input class="form-control" type="number" placeholder="posSellerName" ng-model="purchase.posSellerName">

				<label>posShipmentDate</label>
				<input type="number" class="form-control" placeholder="posShipmentDate" ng-model="purchase.posShipmentDate">

				



				<label>posInitiationDate</label>
				<input type="number" class="form-control" placeholder="posInitiationDate" ng-model="purchase.posInitiationDate">

				<label>posMerchantName</label>
				<input type="number" class="form-control" placeholder="posMerchantName" ng-model="purchase.posMerchantName">


				<label>posAltExpectedDate</label>
				<input type="number" class="form-control" placeholder="posAltExpectedDate" ng-model="purchase.posAltExpectedDate">

				
            </div>
            <div class="col-md-6">
				<label>address</label>
				<input type="text" class="form-control" placeholder="address" ng-model="purchase.address" >

				<label>pattern</label>
				<input type="text" class="form-control" placeholder="pattern" ng-model="purchase.pattern" >

				<label>msgType</label>
				<input type="text" class="form-control" placeholder="msgType" ng-model="purchase.msgType" >

				<label>msgSubType</label>
				<input type="text" class="form-control" placeholder="msgSubType" ng-model="purchase.msgSubType" >
				<label>merchantName</label>
				<input type="text" class="form-control" placeholder="merchantName" ng-model="purchase.merchantName" >

				<label>orderStatus</label>
				<input type="text" class="form-control" placeholder="orderStatus" ng-model="purchase.orderStatus" >

				<label>orderDate</label>
				<input type="text" class="form-control" placeholder="orderDate" ng-model="purchase.orderDate" >

				<label>dateFormat</label>
				<input type="text" class="form-control" placeholder="dateFormat" ng-model="purchase.dateFormat" >

				<label>Count</label>
				<input type="number" class="form-control" placeholder="Count" ng-model="purchase.Count" >

				<label>dateModified</label>
				<input type="text" class="form-control" placeholder="dateModified" ng-model="purchase.dateModified" >

				<label>dateCreated</label>
				<input type="text" class="form-control" placeholder="dateCreated" ng-model="purchase.dateCreated" >

				<label>dateLastReprocessed</label>
				<input type="text" class="form-control" placeholder="dateLastReprocessed" ng-model="purchase.dateLastReprocessed" >

				<label>dateReprocessSet</label>
				<input type="text" class="form-control" placeholder="dateReprocessSet" ng-model="purchase.dateReprocessSet" >

				<label>regexDate</label>
				<input type="text" class="form-control" placeholder="regexDate" ng-model="purchase.regexDate" >

				<label>id</label>
				<input type="text" class="form-control" placeholder="id" ng-model="purchase.id" >
            </div>
        </div>
        <!-- FORM COMES HERE -->
        <!-- JSON OUTPUT -->
        <div class="col-md-6">
        <div class="x_panel">
                <div class="x_title">OUTPUT 
                
                
                </div>
                <div class="x_content" >
                
                    <pre id="travel" >{{purchase |json}}</pre>
                
                </div>
            </div>
            <!-- <textarea class="form-control" cols=10 rows=50 id="myTextAreaPurchase	">
                {{purchase |json}}
            </textarea> -->
        </div>
        <!-- JSON OUTPUT -->
    </div>
    <!-- BLOCK : PURCHASE CATEGORY -->
    <!-- BLOCK : TRAVEL CATEGORY -->
    <!--
    -->
    <!--  -->
    <div class="row" ng:if="selected.option=='travel'">
        
Travel
        <!-- FORM COMES HERE -->
        <div class="col-md-6">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                <label>
                    posBookingId
                </label>
                <input  class="form-control" type="number" placeholder="posBookingId " ng-model="travel.posBookingId" />
                <label>
                    posLink
                </label>
                <input  class="form-control" type="number" placeholder="posLink " ng-model="travel.posLink" />
                
                <label>
                    posDestination
                </label>
                <input  class="form-control" type="number" placeholder="posDestination " ng-model="travel.posDestination" />
               
                <label>
                    posQuantity
                </label>
                <input  class="form-control" type="number" placeholder="posQuantity " ng-model="travel.posQuantity" />
                
                <label>
                    posClass
                </label>
                <input  class="form-control" type="number" placeholder="posClass " ng-model="travel.posClass" />
               
                <label>
                    posAmount
                </label>
                <input  class="form-control" type="number" placeholder="posAmount " ng-model="travel.posAmount" />
               
                <label>
                    posEmailID
                </label>
                <input  class="form-control" type="number" placeholder="posEmailID " ng-model="travel.posEmailID" />
                <label>
                    posSeatNo
                </label>
                <input  class="form-control" type="number" placeholder="posSeatNo " ng-model="travel.posSeatNo" />
                <label>
                    posTotalBalance
                </label>
                <input  class="form-control" type="number" placeholder="posTotalBalance " ng-model="travel.posTotalBalance" />
                
                <label>
                    posPNR
                </label>
                <input  class="form-control" type="number" placeholder="posPNR " ng-model="travel.posPNR" />
                <label>
                    posDate
                </label>
                <input  class="form-control" type="number" placeholder="posDate " ng-model="travel.posDate" />
                
                
                <label>
                    posDuration
                </label>
                <input class="form-control" type="number" placeholder="posDuration" ng-model="travel.posDuration"/>
                <label>
                    posCarNumber
                </label>
                <input class="form-control" type="number" placeholder="posCarNumber" ng-model="travel.posCarNumber"/>
                
               
                <label>
                    posSource
                </label>
                <input class="form-control" type="number" placeholder="posSource" ng-model="travel.posSource" />
                 <label>
                    posReturnDestination
                </label>
                <input class="form-control" type="number" placeholder="posReturnDestination" ng-model="travel.posReturnDestination" />
                <label>
                    posReturnTime
                </label>
                <input class="form-control" type="number" placeholder="posReturnTime" ng-model="travel.posReturnTime" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
               
                <label>
                    posArrivalTime
                </label>
                <input class="form-control" type="number" placeholder="posArrivalTime" ng-model="travel.posArrivalTime" />
                <label>
                    posTime
                </label>
                <input class="form-control" type="number" placeholder="posTime" ng-model="travel.posTime" />
                <label>
                    posStatus
                </label>
                <input class="form-control" type="number" placeholder="posStatus" ng-model="travel.posStatus" />
                <label>
                    posSRN
                </label>
                <input class="form-control" type="number" placeholder="posSRN" ng-model="travel.posSRN" />
                <label>
                    posSenderName
                </label>
                <input class="form-control" type="number" placeholder="posSenderName" ng-model="travel.posSenderName" />
               
                <label>
                    posEndDate
                </label>
                <input class="form-control" type="number" placeholder="posEndDate" ng-model="travel.posEndDate" />
               
                <label>
                    posHelpline
                </label>
                <input class="form-control" type="number" placeholder="posHelpline" ng-model="travel.posHelpline" />
                <label>
                    posTrainId
                </label>
                <input class="form-control" type="number" placeholder="posTrainId" ng-model="travel.posTrainId" />
                <label>
                    posCarrieName
                </label>
                <input class="form-control" type="number" placeholder="posCarrieName" ng-model="travel.posCarrieName" />
            
                <label>
                    posCRN
                </label>
                <input class="form-control" type="number" placeholder="posCRN" ng-model="travel.posCRN" />
                <label>
                    posLandMark
                </label>
                <input class="form-control" type="number" placeholder="posLandMark" ng-model="travel.posLandMark" />
                
                <label>
                    posGateNo
                </label>
                <input class="form-control" type="number" placeholder="posGateNo" ng-model="travel.posGateNo" />
                <label>
                    posReturnFlightId
                </label>
                <input class="form-control" type="number" placeholder="posReturnFlightId" ng-model="travel.posReturnFlightId" />
                <label>
                    posReturnPNR
                </label>
                <input class="form-control" type="number" placeholder="posReturnPNR" ng-model="travel.posReturnPNR" />
                <label>
                    posReturnDate
                </label>
                <input class="form-control" type="number" placeholder="posReturnDate" ng-model="travel.posReturnDate" />
                <label>
                    posReturnEndDate
                </label>
                <input class="form-control" type="number" placeholder="posReturnEndDate" ng-model="travel.posReturnEndDate" />
                <label>
                    posReturnSource
                </label>
                <input class="form-control" type="number" placeholder="posReturnSource" ng-model="travel.posReturnSource" />
               
                
               
                
                
            </div>
            <div class="col-md-6">
                <label>
                    pattern
                </label>
                <input class="form-control" type="text" placeholder="pattern" ng-model="travel.pattern" />
               
                <label >
                    bookingType
                </label>
                <input  class="form-control" type="text" placeholder="bookingType " ng-model="travel.bookingType" />
                <label >
                    merchantName
                </label>
                <input  class="form-control" type="text" placeholder="merchantName " ng-model="travel.merchantName" />
                <label >
                    merchantCode
                </label>
                <input  class="form-control" type="text" placeholder="merchantCode " ng-model="travel.merchantCode" />
                <label >
                    dateFormat
                </label>
                <input  class="form-control" type="text" placeholder="dateFormat " ng-model="travel.dateFormat" />
                <label >
                    msgType
                </label>
                <input  class="form-control" type="text" placeholder="msgType " ng-model="travel.msgType" />
          
                <label>
                    accountType
                </label>
                <input class="form-control" type="text" placeholder="accountType" ng-model="travel.accountType" />
                <label>
                    address
                </label>
                <input class="form-control" type="text" placeholder="address" ng-model="travel.address" />
                <label>
                    timeFormat
                </label>
                <input class="form-control" type="text" placeholder="timeFormat" ng-model="travel.timeFormat" />
                <label>
                    msgSubType
                </label>
                <input class="form-control" type="text" placeholder="msgSubType" ng-model="travel.msgSubType" />
               
               
                <label>
                    ignoreMsg
                </label>
                <input class="form-control" type="text" placeholder="ignoreMsg" ng-model="travel.ignoreMsg" />
               
                <label>
                    Count
                </label>
                <input class="form-control" type="text" placeholder="Count" ng-model="travel.Count" />
               
                <label>
                    isReturn
                </label>
                <input class="form-control" type="text" placeholder="isReturn" ng-model="travel.isReturn" />
                <label>
                    id
                </label>
                <input class="form-control" type="text" placeholder="id" ng-model="travel.id" />
                <label>
                    posReturnArrivalTime
                </label>
                <input class="form-control" type="number" placeholder="posReturnArrivalTime" ng-model="travel.posReturnArrivalTime" />
                <label>
                    posSourceTerminal
                </label>
                <input class="form-control" type="number" placeholder="posSourceTerminal" ng-model="travel.posSourceTerminal" />
                <label>
                    posDestinationTerminal
                </label>
                <input class="form-control" type="number" placeholder="posDestinationTerminal" ng-model="travel.posDestinationTerminal" />
            </div>
        </div>
        <!-- FORM COMES HERE -->
        <!-- JSON OUTPUT -->

        <div class="col-md-6">
        <!-- {{travel |json}} -->
       
	        <div class="x_panel">
                <div class="x_title">OUTPUT 
                
                
                </div>
                <div class="x_content" >
                
                	<pre id="travel" >{{travel |json}}</pre>
                
                </div>
	        </div>
           <!--  <textarea class="form-control" cols=10 rows=50 id="myTextArea">
                {{travel |json}}
            </textarea> -->
        </div>
        <!-- JSON OUTPUT -->
    </div>
    <!-- BLOCK : TRAVEL CATEGORY -->
   
</div>
