<div ng-controller="notificationCtrl">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
                   <div class="title_left">
            <h3>Assigned Messages</h3>
        </div>
           <!--  <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <form ng-submit=assignedTextsList(pageno)>
                  <div class="input-group">
                    <input type="text" ng-model="searchStr" placeholder="Search for..." class="form-control">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">Go!</button>
                    </span>
                  </div>
                  </form>
                </div>
              </div> -->
            </div>
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" class="form-inline" ng-submit="updateMultipleSmsStatus()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Status 
<!--                                             <span class="required">*</span>
 -->                                        </label>
                                        <div class="col-md-9 col-sm-5 col-xs-12">                            
                                            <select class="form-control" ng-model="selectedStatus">
                                                <option ng-repeat="status in statuses" value="{{status.value}}">{{status.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <!-- <h4>
                <label for="search">
                   
                    <input ng-model="search" id="search" class="" placeholder="Search" style="width:100%" />
                </label>
            </h4> -->
            
            <div class="clearfix"></div>
    <div class="alert alert-success" ng-show="alert">
    {{alert}}
    </div>
       
            <table id="notification_tbl" class="table table-striped jambo_table " ng-show="msgAssigned.length">
                <thead>
                    <th>
                        #
                    </th>
                    <th><input type="checkbox" ng-model="selectAll" id="selectAll" ng-click="checkAll()" /></th>
                    <th>
                        <div href ng-click="order('address')" style="cursor:pointer">
                            Address
                            <span  class="fa fa-caret-down" ng-show="sortType == 'address' && sortReverse">
                            </span>
                            <span  class="fa fa-caret-up" ng-show="sortType == 'address' && !sortReverse">
                            </span>
                        </div>
                    </th>
                    <th>
                        <div href ng-click="order('text')" style="cursor:pointer">
                            Text
                            <span  class="fa fa-caret-down" ng-show="sortType == 'text' && sortReverse">
                            </span>
                            <span  class="fa fa-caret-up" ng-show="sortType == 'text' && !sortReverse">
                            </span>
                        </div>
                    </th>
                    <th width="10%">
                        <div  ng-click="order('time')" style="cursor:pointer">
                            Msg Time
                            <span  class="fa fa-caret-down" ng-show="sortType == 'time' && sortReverse">
                            </span>
                            <span  class="fa fa-caret-up" ng-show="sortType == 'time' && !sortReverse">
                            </span>
                        </div>
                    </th>
                    <th width="10%">
                        <div  ng-click="order('saveTime')" style="cursor:pointer">
                            Save Time
                            <span  class="fa fa-caret-down" ng-show="sortType == 'saveTime' && sortReverse">
                            </span>
                            <span  class="fa fa-caret-up" ng-show="sortType == 'saveTime' && !sortReverse">
                            </span>
                        </div>
                    </th>
                    <!-- <th>
                        Processing Status
                    </th> -->
                    <th width=15%>
                        Change Status
                    </th>
                    <th width=15%>Status</th>
                    <th width=5%>Action</th>
                </thead>
                <tbody>
                    <tr ng-show="assignedTexts.length <= 0"><td colspan="7" style="text-align:center;">Loading new data!!</td></tr>
                    <tr dir-paginate="sms in assignedTexts|itemsPerPage:itemsPerPage|filter:search" total-items="total_count">
                        <td>
                            {{itemsPerPage *(currentPage-1)+$index+1}}
                        </td>
                        <td><input type="checkbox" value="{{sms._id}}" class="messageCheckbox"></td>
                        <td>
                            {{sms.address}}
                        </td>
                        <td>
                            {{sms._id}}
                        </td>
                        <td>
                            {{sms.time |date:'medium'}}
                        </td>
                        <td>
                            {{sms.saveTime |date:'MMM d, y h:mm a'}}
                        </td>
                      <!--   <td>
                            <span  ng-dblclick="editItem(sms)">
                                {{sms.processingStatus}}
                            </span>
                        </td> -->
                        <td>
                            <div >
                               <!--  <button ng-click="update(sms,'Exists')">
                                    E
                                </button>
                                <button ng-click="update(sms,'Complete')">
                                    C
                                </button>
                                <button ng-click="update(sms,'Pending')">
                                    P
                                </button> -->
                                <button ng-click="parse(sms)">
                                    Parse message
                                </button>

                            </div>
                        </td>
                        <td class="anchor_xeditable"><a ng-click="showSelected(sms.processingStatus)" href="#" editable-select="user.status" e-ng-options="s.value as s.text for s in statuses">
                            {{sms.processingStatus}}
                          </a></td>
                        <td><button ng-confirm-click class="btn-xs btn-danger" ng-click="removeAssignedMessages(sms._id,$index)"><i class=" glyphicon glyphicon-remove"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls boundary-links="true" on-page-change="assignedTextsList(newPageNumber)" >
            </dir-pagination-controls>
        </div>
    </div>
     <!-- BLOCK : DROPDOWN -->
<!--     <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <label > Update  processing status
                        <input type="hidden" ng-model="assignTo" value="{{selected}}"/>
                        <select id="cat_select" class="form-control" tabindex="-1" ng-model="assignTo" select2 ng-options="x.name for x in modusers" placeholder="Update processing status" style="width:500px"">
                            <option value="">
                            </option>
                        </select>
                        <button type="button" class="btn btn-info btn-sm" ng-click="assign()">
                            <span class="glyphicon glyphicon-ok">
                            </span>
                            Submit
                        </button>
                    </label>
                </div>
            </div>
        </div>
    </div> -->
    <!-- BLOCK : DROPDOWN -->

    <!-- BLOCK : DATATABLE -->
    <!-- <div class="row">
        <div class="col-md-11 x_panel">
            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered" dt-instance="dtInstance">
            </table>
        </div>
    </div> -->
    <!-- BLOCK : DATATABLE -->
    <!-- BLOCK 4: COMMON ALERT -->
   <!--  <div aria-role="alertdialog" aria-live="assertive" style="position: fixed; width: 300px; right: 36px; top: 36px; cursor: auto;" class="ui-pnotify dark ui-pnotify-fade-normal ui-pnotify-in ui-pnotify-fade-in ui-pnotify-move" ng-show="alert">
        <div style="min-height: 16px;" role="alert" class="alert ui-pnotify-container alert-info ui-pnotify-shadow">
            <div style="cursor: pointer; " title="Close" tabindex="0" aria-role="button" class="ui-pnotify-closer pull-right">
                <span class="glyphicon glyphicon-remove" ng-click="closeAlert()">
                </span>
            </div>
            <div aria-role="alert" class="ui-pnotify-text" dismiss-on-timeout="5000" ng-hide="parseSmsResult.output.length">
                {{alert}}
            </div>
        </div>
    </div> -->
    <!-- BLOCK 4: COMMON ALERT -->
</div>
