<section ng-controller="shortcodesCtrl">
    <div class="row tile_count">
        <div class="col-md-4">
            <div class="input-group form-group top_search">
                <input class="form-control" placeholder="Search for Short Code..." type="text" ng-model="searchCode" ng-enter="searchShortcode()"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="searchShortcode()">
                        Go!
                    </button>
                </span>
            </div>
        </div>
        <h4 ng-show="searchResult.length"> Result :{{searchCode}}</h4>
        <div ng-repeat="(key, value) in searchResult">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="value.status=='0'">
                <span class="count_bottom">
                    <i class="green">
                        {{  value.count}}
                    </i>
                    Unprocessed Messages
                </span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="value.status=='3'">
                <span class="count_bottom">
                    <i class="green">
                        {{  value.count}}
                    </i>
                    Processed Messages
                </span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="value.status=='1'">
                <span class="count_bottom">
                    <i class="green">
                        {{  value.count}}
                    </i>
                    Blacklisted Messages
                </span>
            </div>
             <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" ng-if="value.status=='6'">
                <span class="count_bottom">
                    <i class="green">
                        {{  value.count}}
                    </i>
                   Processed by mod
                </span>
            </div>
        </div>
    </div>
    <!-- <hr/> -->
    <uib-alert ng-show="parseSmsResult.output.length" close="closeParseSmsResult()" type="success">
                <div ng-repeat="(key,value) in parseSmsResult.output" >
                    <div ng-repeat="(key, value) in value">
                        {{key}} : {{value}}
                    </div>
                </div>
                <a href="" data-toggle="modal" data-target=".bs-example-modal-sm" ng-show="parseSmsResult.smsdata.length" >
                    Click here for more details
                </a>
  </uib-alert>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <!-- start:  tabs -->
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="userDetail.html#tab_content1" id="un_proc-tab" role="tab" data-toggle="tab" aria-expanded="true" ng-click="reset()">
                                    <span class="badge bg-green">
                                        {{unproc.length}}
                                    </span>
                                    Unprocessed Shortcodes
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="userDetail.html#tab_content2" role="tab" id="new-tab" data-toggle="tab" aria-expanded="false" ng-click="reset()">
                                    <span class="badge bg-green">
                                        {{new.length}}
                                    </span>
                                    New Shortcodes
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="userDetail.html#tab_content3" role="tab" id="proc-tab" data-toggle="tab" aria-expanded="false" ng-click="reset()">
                                    <span class="badge bg-green">
                                        {{proc.length}}
                                    </span>
                                    Processed Shortcodes
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="userDetail.html#tab_content4" role="tab" id="blacklist-tab" data-toggle="tab" aria-expanded="false" ng-click="reset()">
                                    <!--
                                        <span class="badge bg-green">
                                            {{blacklisteds.length}}
                                        </span>
                                    -->
                                    Blacklisted Shortcode
                                </a>
                            </li>
                        </ul>
                        <!-- END: tabs -->
                        <div id="myTabContent" class="tab-content">
                            <!-- tab content 1 :unprocessed -->
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="un_proc-tab">
                                <div class="row">
                                    <!-- left section : UNPROCESSED -->
                                    <div class="col-md-2 col-sm-2 mail_list_column">
                                        <input ng-model="search_unproc" style="width:100%;margin-bottom:1rem" placeholder="search code"/>
                                        <div style="overflow:auto;height: 500px;">
                                            <a href="" ng-repeat="code in unproc |filter:search_unproc">
                                                <div class="mail_list">
                                                    <div class="right">
                                                        <h3 ng-click="getSms(code,0)">
                                                            {{code}}
                                                        </h3>
                                                        <small >
                                                            <button ng-click="parseSms(code)" type="button" class="btn btn-default btn-xs">
                                                                <i class="fa fa-refresh" aria-hidden="true">
                                                                </i>
                                                            </button>
                                                        </small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- right section  : unprocessed message detail -->
                                    <div class="col-md-10 col-sm-10 mail_view" ng-show="smses.length">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <h4>
                                                    {{code}}
                                                </h4>
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="search">
                                                    items per page:
                                                    <input type="number" min="1" max="1000" class="form-control" ng-model="pageSize"/>
                                                </label>
                                            </div>
                                            <div class="col-xs-8">
                                                <label for="search">
                                                    Search:
                                                    <input ng-model="seach_unproc_msg" id="seach_unproc_msg" class="" placeholder="Filter Messages" style="width:100%" />
                                                </label>
                                            </div>
                                        </div>
                                        <!-- <div style="overflow:auto;height: 500px;"> -->
                                            <table class="table table-striped jambo_table" >
                                                <thead>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        <div href ng-click="order('text')" style="cursor:pointer">
                                                            Text
                                                            <span ng-show="sortType == 'text' && sortReverse" class="fa fa-caret-down">
                                                            </span>
                                                            <span ng-show="sortType == 'text' && !sortReverse" class="fa fa-caret-up">
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th width="20%">
                                                        <div  ng-click="order('time')" style="cursor:pointer">
                                                            Msg Time
                                                            <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-down">
                                                            </span>
                                                            <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-up">
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th width="20%">
                                                        <div  ng-click="order('saveTime')" style="cursor:pointer">
                                                            Save Time
                                                            <span ng-show="sortType == 'saveTime' && sortReverse" class="fa fa-caret-down">
                                                            </span>
                                                            <span ng-show="sortType == 'saveTime' && !sortReverse" class="fa fa-caret-up">
                                                            </span>
                                                        </div>
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="sms in smses |filter:seach_unproc_msg|orderBy:sortType:sortReverse| itemsPerPage: pageSize" current-page="currentPage">
                                                        <td>
                                                            {{$index+1}}
                                                        </td>
                                                        <td>
                                                            {{sms.text}}
                                                        </td>
                                                        <td>
                                                            {{sms.time | date:'MMM'}}
                                                        </td>
                                                        <td>
                                                            {{sms.saveTime |date:'MMM d, y h:mm a'}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" >
                                            </dir-pagination-controls>
                                            <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- tab content 2 :new -->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content2" aria-labelledby="new-tab">
                                <div class="row">
                                    <!-- left section : NEW -->
                                    <div class="col-md-2 col-sm-2 mail_list_column">
                                        <input ng-model="search_new" style="width:100%;margin-bottom:1rem" placeholder="search code"/>
                                        <div style="overflow:auto;height: 500px;">
                                            <a href="javascript:void(0)" ng-repeat="code in new |filter:search_new">
                                                <div class="mail_list">
                                                    <div class="left">
                                                        <input type="checkbox" value="{{code}}" name="blacklist" />
                                                    </div>
                                                    <div class="right">
                                                        <h3 ng-click="getSms(code,0)">
                                                            {{code}}
                                                        </h3>
                                                        <small >
                                                            <button ng-click="parseSms(code)" type="button" class="btn btn-default btn-xs">
                                                                <i class="fa fa-refresh" aria-hidden="true">
                                                                </i>
                                                            </button>
                                                        </small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <button type="button" class="btn btn-dark btn-xs pull-right" ng-click="blacklist()">
                                            Blacklist
                                        </button>
                                    </div>
                                    <!-- right section  : new message detail -->
                                    <div class="col-md-10 col-sm-10 mail_view" ng-show="smses.length">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <h4>
                                                    {{code}}
                                                </h4>
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="search">
                                                    items per page:
                                                    <input type="number" min="1" max="1000" class="form-control" ng-model="pageSize"/>
                                                </label>
                                            </div>
                                            <div class="col-xs-8">
                                                <label for="search">
                                                    Search:
                                                    <input ng-model="seach_new_msg" id="seach_new_msg" class="" placeholder="Filter Messages" style="width:100%" />
                                                </label>
                                            </div>
                                        </div>
                                        <!--
                                            <h4>
                                                {{code}}
                                            </h4>
                                        -->
                                        <table class="table table-striped jambo_table ">
                                            <thead>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    <div href ng-click="order('text')" style="cursor:pointer">
                                                        Text
                                                        <span ng-show="sortType == 'text' && sortReverse" class="fa fa-caret-down">
                                                        </span>
                                                        <span ng-show="sortType == 'text' && !sortReverse" class="fa fa-caret-up">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th width="20%">
                                                    <div  ng-click="order('time')" style="cursor:pointer">
                                                        Msg Time
                                                        <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-down">
                                                        </span>
                                                        <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-up">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th width="20%">
                                                    <div  ng-click="order('saveTime')" style="cursor:pointer">
                                                        Save Time
                                                        <span ng-show="sortType == 'saveTime' && sortReverse" class="fa fa-caret-down">
                                                        </span>
                                                        <span ng-show="sortType == 'saveTime' && !sortReverse" class="fa fa-caret-up">
                                                        </span>
                                                    </div>
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="sms in smses |filter:seach_new_msg|orderBy:sortType:sortReverse| itemsPerPage: pageSize" current-page="currentPage">
                                                    <td>
                                                        {{$index+1}}
                                                    </td>
                                                    <td>
                                                        {{sms.text}}
                                                    </td>
                                                    <td>
                                                        {{sms.time |date:'medium'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" >
                                        </dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <!-- tab content 3:processed -->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content3" aria-labelledby="proc-tab">
                                <div class="row">
                                    <!-- left section : PROCESSED -->
                                    <div class="col-md-2 col-sm-2 mail_list_column">
                                        <input ng-model="search_proc" style="width:100%;margin-bottom:1rem" placeholder="search code"/>
                                        <div style="overflow:auto;height: 500px;">
                                            <a href="" ng-repeat="code in proc |filter:search_proc">
                                                <div class="mail_list">
                                                    <div class="left">
                                                        <!-- <input type="checkbox" value="{{code}}" name="blacklist" /> -->
                                                    </div>
                                                    <div class="right">
                                                        <h3 ng-click="getSms(code,3)">
                                                            {{code}}
                                                        </h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- right section  : Processed message detail -->
                                    <div class="col-md-10 col-sm-10 mail_view" ng-show="smses.length">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <h4>
                                                    {{code}}
                                                </h4>
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="search">
                                                    items per page:
                                                    <input type="number" min="1" max="1000" class="form-control" ng-model="pageSize"/>
                                                </label>
                                            </div>
                                            <div class="col-xs-8">
                                                <label for="search">
                                                    Search:
                                                    <input ng-model="q" id="search" class="" placeholder="Filter Messages" style="width:100%" />
                                                </label>
                                            </div>
                                        </div>
                                        <table class="table table-striped jambo_table ">
                                            <thead>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    <div href ng-click="order('text')" style="cursor:pointer">
                                                        Text
                                                        <span ng-show="sortType == 'text' && sortReverse" class="fa fa-caret-down">
                                                        </span>
                                                        <span ng-show="sortType == 'text' && !sortReverse" class="fa fa-caret-up">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th width="20%">
                                                    <div  ng-click="order('time')" style="cursor:pointer">
                                                        Msg Time
                                                        <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-down">
                                                        </span>
                                                        <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-up">
                                                        </span>
                                                    </div>
                                                </th>
                                                <th width="20%">
                                                    <div  ng-click="order('saveTime')" style="cursor:pointer">
                                                        Save Time
                                                        <span ng-show="sortType == 'saveTime' && sortReverse" class="fa fa-caret-down">
                                                        </span>
                                                        <span ng-show="sortType == 'saveTime' && !sortReverse" class="fa fa-caret-up">
                                                        </span>
                                                    </div>
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="sms in smses | filter:q |orderBy:sortType:sortReverse| itemsPerPage: pageSize" current-page="currentPage">
                                                    {{ meal }}
                                                    <td>
                                                        {{$index+1}}.
                                                    </td>
                                                    <td>
                                                        {{sms.text}}
                                                    </td>
                                                    <td>
                                                        {{sms.time |date:'medium'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" >
                                        </dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <!-- tab content 4:blacklisteds -->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content4" aria-labelledby="blacklist-tab">
                                <div class="row">
                                    <div class="col-md-11 x_panel">
                                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-role="alertdialog" aria-live="assertive" style="position: fixed; width: 300px; right: 36px; top: 36px; cursor: auto;" class="ui-pnotify dark ui-pnotify-fade-normal ui-pnotify-in ui-pnotify-fade-in ui-pnotify-move" ng-show="alert">
        <div style="min-height: 16px;" role="alert" class="alert ui-pnotify-container alert-info ui-pnotify-shadow">
            <div style="cursor: pointer; " title="Close" tabindex="0" aria-role="button" class="ui-pnotify-closer pull-right">
                <span class="glyphicon glyphicon-remove" ng-click="closeAlert()">
                </span>
            </div>
            <div aria-role="alert" class="ui-pnotify-text" dismiss-on-timeout="5000" ng-hide="parseSmsResult.output.length">
                <!-- <img src="assets/images/ajax-loader.gif"/> -->
                {{alert}}
            </div>
           <!--  <div ng-if="parseSmsResult.output.length">
                <div ng-repeat="(key,value) in parseSmsResult.output" >
                    <div ng-repeat="(key, value) in value">
                        {{key}} : {{value}}
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm" ng-show="parseSmsResult.smsdata.length">
                    Click here for more details
                </button>
            </div> -->
        </div>
    </div>
    <!-- modal for smsdata  starts here -->
    <div style="display: none;" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="width:85%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">
                        Sms Data
                    </h4>
                </div>
               <div class="modal-body">
                    <!-- modal body goes here -->
                    <table class="table table-striped jambo_table" >
                        <thead>
                            <th>
                                #
                            </th>
                             <th >
                                <div href ng-click="order('shortcode')" style="cursor:pointer">
                                    shortcode
                                    <span ng-show="sortType == 'shortcode' && sortReverse" class="fa fa-caret-down">
                                    </span>
                                    <span ng-show="sortType == 'shortcode' && !sortReverse" class="fa fa-caret-up">
                                    </span>
                                </div>
                            </th>
                            <th >
                                <div href ng-click="order('smstext')" style="cursor:pointer">
                                    sms text
                                    <span ng-show="sortType == 'smstext' && sortReverse" class="fa fa-caret-down">
                                    </span>
                                    <span ng-show="sortType == 'smstext' && !sortReverse" class="fa fa-caret-up">
                                    </span>
                                </div>
                            </th>
                            <th >
                                    Pattern
                                    
                            </th>
                            <th>
                                <div  ng-click="order('dateModified')" style="cursor:pointer">
                                     Regex Modified Date
                                    <span ng-show="sortType == 'dateModified' && sortReverse" class="fa fa-caret-down">
                                    </span>
                                    <span ng-show="sortType == 'dateModified' && !sortReverse" class="fa fa-caret-up">
                                    </span>
                                </div>
                            </th>
                            <th >
                                <div  ng-click="order('savetime')" style="cursor:pointer">
                                     Msg Save Time
                                    <span ng-show="sortType == 'savetime' && sortReverse" class="fa fa-caret-down">
                                    </span>
                                    <span ng-show="sortType == 'savetime' && !sortReverse" class="fa fa-caret-up">
                                    </span>
                                </div>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sms in  parseSmsResult.smsdata |orderBy:sortType:sortReverse">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    {{sms.shortcode}}
                                </td>
                                <td>
                                    {{sms.smstext }}
                                </td>
                                 <td>
                                    {{sms.pattern }}
                                </td>
                                <td>
                                    {{sms.dateModified |date:'MMM d, y h:mm a'}}
                                </td>
                                <td>
                                    {{sms.savetime |date:'MMM d, y h:mm a'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal for smsdata ends here -->
    <back-top scroll-speed=1500 button-theme="dark">
        <i class="fa fa-angle-double-up">
        </i>
        Scroll Top
    </back-top>
</section>
