<div >
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>App Users</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link" ng-click="isCollapsed = !isCollapsed">
                                <i class="fa fa-chevron-up"></i>
                                <i class="fa fa-chevron-up" ng-show=""></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" uib-collapse="isCollapsed">
                    <div ng-show="showProcessing" style="text-align:center;">
                            <img src="assets/images/ajax-loader.gif"/> Loading data.....
                    </div>
                    <div ng-show="appUsers.length<=0 && !showLoader" style="text-align:center;">
                        No users Found
                    </div>
                    <table class="table table-bordered" ng-show="appUsers.length">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>User Email</th>
                            <th>Unprocessed Codes</th>
                            <th>New Code</th>
                            <th>Processed Codes</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr ng-repeat="(key,value) in appUsers">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{value.user}}</td>
                            <td>{{value.userUnprocessedCodes}}</td>
                            <td>{{value.newCodes}}</td>
                            <td>{{value.userProcessedCodes}}</td>
                        </tr>

                        </tbody>
                    </table>
                    <button ng-click="moreUsers()">more</button>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    Shortcodes
                    <div class="navbar-right panel_toolbox" ng-show="showLoader" style="text-align: center">
                        <img src="assets/images/ajax-loader.gif" /> Processing
                    </div>
                </div>
                <div class="x_content">
                     <div class="row">
                         <!-- LEFT : NEW -->
                         <div class="col-md-4 col-sm-4 mail_list_column">
                            NEW
                             <!--sortby -->
                             <div class="radio">
                                 <h6>Sort by:</h6>
                                 <label>
                                     <ul class="list-unstyled project_files">
                                         <li>
                                             <label>
                                                 <input type="radio" ng-model="new.sortby" value="count" ng-change='new.sort()' ng-disabled="showLoader"> Count
                                             </label>
                                         </li>
                                         <li>
                                             <label>
                                                 <input type="radio" ng-model="new.sortby" value="address" ng-change='new.sort()' ng-disabled="showLoader"> Alphabetic
                                             </label>
                                         </li>
                                     </ul>
                                 </label>
                             </div>
                             <!-- /sortby-->
                             <div style="overflow:auto;height: 250px;">
                                 <a ng-repeat="code in new.codes" href="javascript:void(0)">
                                     <div class="mail_list">
                                         <div class="left">
                                             <!-- <input type="checkbox"> -->
                                             <input type="checkbox" value="{{code._id}}" name="blacklist"  />

                                         </div>
                                         <span class="">  {{code.count}}</span>
                                         <div class="right" style="cursor:pointer;">
                                             <h3 ng-click="getSms(code._id,0,1,'new')">
                                                 {{code._id}}
                                             </h3>
                                             <p> {{code.saveTime |date:'dd-MMM-yy'}}</p>

                                         </div>
                                         <small>
                                             <button ng-click="parseSms(code._id)" type="button" class="btn btn-default btn-xs">
                                                 <i class="fa fa-refresh" aria-hidden="true">
                                                 </i>
                                             </button>
                                         </small>
                                     </div>
                                 </a>

                                 <button ng-click="new.showMore()" ng-hide="showLoader"> Show more
                                 </button>
                             </div>
                             Showing {{new.codes.length}} Codes

                             <button type="button" class="btn btn-dark btn-xs " ng-click="useLater
                                        ()">
                                 Use Later
                             </button>
                             <button type="button" class="btn btn-dark btn-xs pull-right" ng-click="blacklist()">
                                 Blacklist
                             </button>
                         </div>

                         <!--unprocessed codes-->
                         <div class="col-md-4 col-sm-4 mail_list_column">
                           UNPROCESSED
                             <!--sortby -->
                             <div class="radio">
                                 <h6>sort by:</h6>
                                 <label><ul class="list-unstyled project_files">
                                     <li>
                                         <label>
                                             <input type="radio" ng-model="unProc.sortby" value="count" ng-change='unProc.sort()'  ng-disabled="showLoader"> Count
                                         </label>
                                     </li>
                                     <li>
                                         <label>
                                             <input type="radio" ng-model="unProc.sortby" value="address" ng-change='unProc.sort()'  ng-disabled="showLoader"> Alphabetic
                                         </label>
                                     </li>
                                 </ul></label>

                             </div>
                             <!-- /sortby-->
                             <div style="overflow:auto;height: 250px;">
                                 <a ng-repeat="code in unProc.codes">
                                     <div class="mail_list">
                                         <span class="">  {{code.count}}</span>
                                         <div class="right">
                                             <h3 ng-click="getSms(code._id,0,1,'unProc')">
                                                 {{code._id}}
                                             </h3>
                                             <p> {{code.saveTime |date:'dd-MMM-yy'}}</p>
                                         </div>
                                         <small>
                                             <button ng-click="parseSms(code._id)" type="button" class="btn btn-default btn-xs">
                                                 <i class="fa fa-refresh" aria-hidden="true">
                                                 </i>
                                             </button>
                                         </small>
                                     </div>
                                 </a>

                                 <button ng-click="unProc.showMore()" ng-hide="showLoader"> Show more
                                 </button>
                             </div>
                             Showing {{unProc.codes.length}} Codes
                         </div>

                         <!-- LEFT : PROCESSED -->
                         <div class="col-md-4 col-sm-4 mail_list_column">
                             PROCESSED
                             <!--sortby -->
                             <div class="radio">
                                 <h6>Sort by:</h6>
                                 <label>
                                     <ul class="list-unstyled project_files">
                                         <li><label>
                                             <input type="radio" ng-model="proc.sortby" value="count" ng-change='proc.sort()' ng-disabled="showLoader"> Count
                                         </label></li>
                                         <li> <label>
                                             <input type="radio" ng-model="proc.sortby" value="address" ng-change='proc.sort()' ng-disabled="showLoader"> Alphabetic
                                         </label></li>
                                     </ul>

                                 </label>


                             </div>
                             <!-- /sortby-->

                             <div style="overflow:auto;height: 250px;">
                                 <a ng-repeat="code in proc.codes">
                                     <div class="mail_list">
                                         <span class="">  {{code.count}}</span>
                                         <div class="right" style="cursor:pointer;">
                                             <h3 ng-click="getSms(code._id,3,1,'proc')">
                                                 {{code._id}}
                                             </h3>
                                         </div>
                                     </div>
                                 </a>

                                 <button ng-click="proc.showMore()" ng-hide="showLoader"> Show more
                                 </button>

                             </div>
                             Showing {{proc.codes.length}} Codes

                         </div>



                     </div>
                </div>
            </div>

            <div class="x_panel" ng-show="messages.length">
                <div class="x_content">
                    <div class="col-md-12 col-sm-12 mail_view" >
                        <div class="row">
                            <div class="col-xs-2">
                                <h4>
                                    {{code}}
                                </h4>
                            </div>
                        </div>
                        <table class="table table-striped jambo_table ">
                            <thead>
                            <th>
                                #
                            </th>
                            <th>
                                Text
                            </th>
                            <th width="20%">
                                Msg Time
                            </th>
                            <th width="20%">
                                Save Time
                            </th>
                            </thead>
                            <tbody>
                            <tr ng-if="messages.length <= 0">
                                <td colspan="7" style="text-align:center;">No More Messages!!</td>
                            </tr>
                            <tr ng-show="loadingMsg">
                                <td colspan="7" style="text-align:center;">Loading Messages!!</td>
                            </tr>
                            <tr ng-repeat="sms in messages">
                                <td>
                                    {{itemsPerPage *(currentPage-1)+$index+1}}
                                </td>

                                <td>
                                    {{sms._id}}
                                </td>
                                <td>
                                    {{sms.time | date:'MMM'}}
                                </td>
                                <td>
                                    {{sms.saveTime |date:'MMM d, y h:mm a'}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ul uib-pagination   items-per-page="itemsPerPage" ng-model="currentPage" total-items="totalCount" max-size="length" force-ellipses="true" boundary-links="true" ng-change="pageChanged(currentPage)">
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>