<div >
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>App Users</h2>
                </div>
                <div class="x_content">

                    <!--<div class="row">-->
                        <!--&lt;!&ndash; calender &ndash;&gt;-->
                        <!--<div class="col-md-4">-->

                            <!--<label>From :  </label>-->
                            <!--<p class="input-group">-->
                                    <!--<span class="input-group-btn">-->
                                       <!--<button type="button" class="btn btn-default" ng-click="open1()">-->
                                           <!--<i class="glyphicon glyphicon-calendar"></i></button>-->
                                    <!--</span>-->
                                    <!--<input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy"-->
                                           <!--ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions"-->
                                           <!--ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>-->


                                <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<label>To :</label>-->
                            <!--<p class="input-group">-->
                    <!--<span class="input-group-btn">-->
                    <!--<button type="button" class="btn btn-default" ng-click="open2()"><i-->
                            <!--class="glyphicon glyphicon-calendar"></i></button>-->
                  <!--</span>-->
                                <!--<input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy"-->
                                       <!--ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions"-->
                                       <!--ng-required="true" close-text="Close"/>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /calender &ndash;&gt;-->
                        <!--<div class="col-md-1">-->
                            <!--<label></label>-->
                            <!--<button class="" ng-click="getTodaysUser()">Submit</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div ng-show="showProcessing" style="text-align:center;">
                            <img src="assets/images/ajax-loader.gif"/> Loading data.....
                    </div>
                    <div ng-show="appUsers.length<=0 && !showLoader" style="text-align:center;">
                        No users Found
                    </div>
                    <table class="table table-bordered" ng-show="appUsers.length">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>User Email</th>
                            <th>Unprocessed Codes</th>
                            <th>New Code</th>
                            <th>Processed Codes</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr ng-repeat="(key,value) in appUsers">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{value.user}}</td>
                            <td>{{value.userUnprocessedCodes}}</td>
                            <td>{{value.newCodes}}</td>
                            <td>{{value.userProcessedCodes}}</td>
                        </tr>

                        </tbody>
                    </table>
                    <button ng-click="moreUsers()">more</button>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    Shortcodes
                </div>
                <div class="x_content">
                     <div class="row">
                         <!-- LEFT : NEW -->
                         <div class="col-md-2 col-sm-2 mail_list_column">
                            NEW
                             <!--sortby -->
                             <div class="radio">
                                 <h6>Sort by:</h6>
                                 <label>
                                     <ul class="list-unstyled project_files">
                                         <li>
                                             <label>
                                                 <input type="radio" ng-model="new.sortby" value="count" ng-change='new.sort()' ng-disabled="showLoader"> Count
                                             </label>
                                         </li>
                                         <li>
                                             <label>
                                                 <input type="radio" ng-model="new.sortby" value="address" ng-change='new.sort()' ng-disabled="showLoader"> Alphabetic
                                             </label>
                                         </li>
                                     </ul>
                                 </label>
                             </div>
                             <!-- /sortby-->
                             <div style="overflow:auto;height: 500px;">
                                 <a ng-repeat="code in new.codes" href="javascript:void(0)">
                                     <div class="mail_list">
                                         <div class="left">
                                             <!-- <input type="checkbox"> -->
                                             <input type="checkbox" value="{{code._id}}" name="blacklist"  />

                                         </div>
                                         <span class="">  {{code.count}}</span>
                                         <div class="right" style="cursor:pointer;">
                                             <h3 ng-click="getSms(code._id,0,1,'new')">
                                                 {{code._id}}
                                             </h3>
                                             <p> {{code.saveTime |date:'dd-MMM-yy'}}</p>

                                         </div>
                                         <small>
                                             <button ng-click="parseSms(code._id)" type="button" class="btn btn-default btn-xs">
                                                 <i class="fa fa-refresh" aria-hidden="true">
                                                 </i>
                                             </button>
                                         </small>
                                     </div>
                                 </a>

                                 <button ng-click="new.showMore()" ng-hide="showLoader"> Show more
                                 </button>
                             </div>
                             Showing {{new.codes.length}} Codes

                             <button type="button" class="btn btn-dark btn-xs " ng-click="useLater
                                        ()">
                                 Use Later
                             </button>
                             <button type="button" class="btn btn-dark btn-xs pull-right" ng-click="blacklist()">
                                 Blacklist
                             </button>
                         </div>

                         <!--unprocessed codes-->
                         <div class="col-md-2 col-sm-2 mail_list_column">
                           UNPROCESSED
                             <!--sortby -->
                             <div class="radio">
                                 <h6>sort by:</h6>
                                 <label><ul class="list-unstyled project_files">
                                     <li>
                                         <label>
                                             <input type="radio" ng-model="unProc.sortby" value="count" ng-change='unProc.sort()'  ng-disabled="showLoader"> Count
                                         </label>
                                     </li>
                                     <li>
                                         <label>
                                             <input type="radio" ng-model="unProc.sortby" value="address" ng-change='unProc.sort()'  ng-disabled="showLoader"> Alphabetic
                                         </label>
                                     </li>
                                 </ul></label>

                             </div>
                             <!-- /sortby-->
                             <div style="overflow:auto;height: 500px;">
                                 <a ng-repeat="code in unProc.codes">
                                     <div class="mail_list">
                                         <span class="">  {{code.count}}</span>
                                         <div class="right">
                                             <h3 ng-click="getSms(code._id,0,1,'unProc')">
                                                 {{code._id}}
                                             </h3>
                                             <p> {{code.saveTime |date:'dd-MMM-yy'}}</p>
                                         </div>
                                         <small>
                                             <button ng-click="parseSms(code._id)" type="button" class="btn btn-default btn-xs">
                                                 <i class="fa fa-refresh" aria-hidden="true">
                                                 </i>
                                             </button>
                                         </small>
                                     </div>
                                 </a>

                                 <button ng-click="unProc.showMore()" ng-hide="showLoader"> Show more
                                 </button>
                             </div>
                             Showing {{unProc.codes.length}} Codes
                         </div>

                         <!-- LEFT : PROCESSED -->
                         <div class="col-md-2 col-sm-2 mail_list_column">
                             PROCESSED
                             <!--sortby -->
                             <div class="radio">
                                 <h6>Sort by:</h6>
                                 <label>
                                     <ul class="list-unstyled project_files">
                                         <li><label>
                                             <input type="radio" ng-model="proc.sortby" value="count" ng-change='proc.sort()' ng-disabled="showLoader"> Count
                                         </label></li>
                                         <li> <label>
                                             <input type="radio" ng-model="proc.sortby" value="address" ng-change='proc.sort()' ng-disabled="showLoader"> Alphabetic
                                         </label></li>
                                     </ul>

                                 </label>


                             </div>
                             <!-- /sortby-->

                             <div style="overflow:auto;height: 500px;">
                                 <a ng-repeat="code in proc.codes">
                                     <div class="mail_list">
                                         <span class="">  {{code.count}}</span>
                                         <div class="right" style="cursor:pointer;">
                                             <h3 ng-click="getSms(code._id,3,1,'proc')">
                                                 {{code._id}}
                                             </h3>
                                         </div>
                                     </div>
                                 </a>

                                 <button ng-click="proc.showMore()" ng-hide="showLoader"> Show more
                                 </button>

                             </div>
                             Showing {{proc.codes.length}} Codes

                         </div>

                         <div class="col-md-2 col-sm-2 mail_list_column">
                             <div ng-show="showLoader">
                                 <img src="assets/images/ajax-loader.gif" /> Processing
                             </div>
                         </div>

                     </div>
                </div>
            </div>
        </div>
    </div>
</div>