<div ng-controller="usersCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Users
            </h1>
            <div class="pull-left">
                <!-- users with primary Email: {{usercount}} -->
            </div>
        </div>
    </div>
    <ul ng-repeat="(key, value) in dataset">
        <li>{{key}}:{{value}}</li>
    </ul>
    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="datatable_wrapper">
        {{tablesdata}}
        <div class="row">
            <div class="col-md-12 x_panel">
                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered">
                </table>
            </div>
        </div>
    </div>
    <div aria-role="alertdialog" aria-live="assertive" style="position: fixed; width: 300px; right: 36px; top: 36px; cursor: auto;" class="ui-pnotify dark ui-pnotify-fade-normal ui-pnotify-in ui-pnotify-fade-in ui-pnotify-move" ng-show="alert">
        <div style="min-height: 16px;" role="alert" class="alert ui-pnotify-container alert-info ui-pnotify-shadow">
            <div style="cursor: pointer; " title="Close" tabindex="0" aria-role="button" class="ui-pnotify-closer pull-right">
                <span class="glyphicon glyphicon-remove" ng-click="closeAlert()">
                </span>
            </div>
            <div aria-role="alert" class="ui-pnotify-text" dismiss-on-timeout="5000" ng-hide="parseSmsResult.output.length">
                <!-- <img src="assets/images/ajax-loader.gif"/> -->
                {{alert}}
            </div>
            
        </div>
    </div>
     <back-top scroll-speed=1500 button-theme="dark">
        <i class="fa fa-angle-double-up">
        </i>
        Scroll Top
    </back-top>
</div>
