<div ng-controller="userDetailCtrl">
    <a ui-sref="dashboard.users">
        back
    </a>
    <!-- ********   START: MODAL     ********* -->
    <div class="pull-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
            Check User Details
        </button>
        <div style="display: none;" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm" style="width:35%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                ×
                            </span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                            User Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt style="width:120px">
                                PrimaryEmail :
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.primaryEmail}}
                            </dd>
                            <dt style="width:120px">
                                Device Resolution:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.deviceResolution}}
                            </dd>
                            <dt style="width:120px">
                                IMEI:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.imei}}
                            </dd>
                            <dt style="width:120px">
                                Platform :
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.platform}}
                            </dd>
                            <dt style="width:120px">
                                Platform Version:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.platformVersion}}
                            </dd>
                            <dt style="width:120px">
                                Primary Network:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.primaryNetwork}}
                            </dd>
                            <dt style="width:120px">
                                Referal code:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.referralCode}}
                            </dd>
                            <dt style="width:120px">
                                appVersion :
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.appVersion}}
                            </dd>
                            <dt style="width:120px">
                                Sms ShortCodes:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.smsShortCodes.length}}
                            </dd>
                            <dt style="width:120px">
                                Access Time
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.accessTime|date:'medium'}}
                            </dd>
                            <dt style="width:120px">
                                Date Created:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.dateCreated|date:'medium'}}
                            </dd>
                            <dt style="width:120px">
                                Manufacturer:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.manufacturer}}
                            </dd>
                            <dt style="width:120px">
                                Last Login:
                            </dt>
                            <dd style="margin-left:130px">
                                {{userData.lastLogin |date:'medium'}}
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********   END: MODAL       ********* -->
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">
                {{alert.msg}}
            </uib-alert>
            <div class="x_panel">
                <div class="x_content">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <!-- start:  tabs -->
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="userDetail.html#tab_content1" id="un_proc-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                    Unprocessed Messages
                                    <!--
                                        <span class="badge bg-green">
                                            {{unproCount}}
                                        </span>
                                    -->
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="userDetail.html#tab_content2" role="tab" id="new-tab" data-toggle="tab" aria-expanded="false">
                                    New Messages
                                    <!--
                                        <span class="badge bg-green">
                                            206
                                        </span>
                                    -->
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="userDetail.html#tab_content3" role="tab" id="proc-tab" data-toggle="tab" aria-expanded="false">
                                    Processed Messages
                                    <!--
                                        <span class="badge bg-green">
                                            {{proCount}}
                                        </span>
                                    -->
                                </a>
                            </li>
                        </ul>
                        <!-- END: tabs -->


                        <div id="myTabContent" class="tab-content">
                            <!-- tab content 1 :unprocessed -->
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="un_proc-tab">
                                <div class="row">
                                    <div class="col-md-2">
                                        <table class="table  table-bordered ">
                                            <thead>
                                                <tr role="row">
                                                    <th width=20%>
                                                        <input type="checkbox" ng-model="toggleSelection" ng-click="toggle()" />
                                                         unproc Codes
                                                        <span class="badge bg-green">
                                                            {{unproc.length}}
                                                        </span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="code in unproc |filter:searchText|orderBy">
                                                    <td>
                                                        <input type="checkbox" value="{{code}}" name="blacklist" />
                                                        {{code}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="com-md-10">
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- tab content 2 :new -->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content2" aria-labelledby="proc-tab">
                                <div class="row">
                                    <div class="col-md-2">
                                        <table class="table  table-bordered ">
                                            <thead>
                                                <tr role="row">
                                                    <th width=20%>
                                                        <input type="checkbox" ng-model="toggleSelection" ng-click="toggle()" />
                                                        new Codes
                                                        <span class="badge bg-green">
                                                            {{new.length}}
                                                        </span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="code in new |filter:searchText|orderBy">
                                                    <td>
                                                        <input type="checkbox" value="{{code}}" name="blacklist" />
                                                        {{code}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="com-md-10">
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- tab content 3:processed -->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content3" aria-labelledby="proc-tab">
                                <div class="row">
                                    <div class="col-md-2">
                                        <table class="table  table-bordered ">
                                            <thead>
                                                <tr role="row">
                                                    <th width=20%>
                                                        <input type="checkbox" ng-model="toggleSelection" ng-click="toggle()" />
                                                        proc Codes
                                                        <span class="badge bg-green">
                                                            {{proc.length}}
                                                        </span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="code in proc |filter:searchText|orderBy">
                                                    <td>
                                                        <input type="checkbox" value="{{code}}" name="blacklist" />
                                                        {{code}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="com-md-10">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
            <div class="col-md-2 col-xs-2 col-lg-2">
                All unprocessed shortcodes.
                <input ng-model="searchText" style="width:100%" placeholder="search code" />
                <div style="overflow:auto;width: 150px;height: 400px;">
                    <table class="table  table-bordered ">
                        <thead>
                            <tr role="row">
                                <th width=20%>
                                    <input type="checkbox" ng-model="toggleSelection" ng-click="toggle()" />
                                    Codes
                                    <span class="badge bg-green">
                                        {{userUnprocCode.length}}
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="code in userUnprocCode |filter:searchText|orderBy">
                                <td>
                                    <input type="checkbox" value="{{code}}" name="blacklist" />
                                    {{code}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-dark btn-xs pull-right" ng-click="blacklist()">
                    Blacklist
                </button>
            </div>
        -->
    </div>
</div>
